.cards {
    margin auto;
    display: grid;
    grid-gap: 1rem;
  }

.card {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: ghostwhite;
    color: black;
    padding: 1rem;

  }

.fields {
  margin-bottom: .3rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, sans-serif;
}

.field {
  margin-top: .2rem;
}

.csv-id {
  font-style: italic;
  margin-bottom: .5rem;
}

.field-label {
  font-style: bold;
}

.icons-link {
  margin-top: .5rem;
  font-family: Helvetica, sans-serif;
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(6, 1fr); }
}