solr_base_url: 'http://localhost:8080/solr'
islandora_base_url: 'http://localhost:8000'
csv_output_path: 'islandora7_metadata.csv'
obj_directory: '/tmp/objs'
log_file_path: 'islandora_content.log'
id_field: 'ID'
id_start_number: 100
start: 125
rows: 100
collection:  islandora:mycollection
collections:
 - islandora:collection1
 - random:collection7
solr_filters:
  'some_solr_field_ms': 'some_value'