solr_base_url: 'http://localhost:8080/solr'
islandora_base_url: 'http://localhost:8000'
csv_output_path: 'islandora7_metadata.csv'
obj_directory: '/tmp/objs'
log_file_path: 'islandora_content.log'
id_field: 'ID'
id_start_number: 100
start: 125
rows: 100
collection:  islandora:mycollection
collections:
 - islandora:collection1
 - random:collection7
solr_filters:
  'some_solr_field_ms': 'some_value'
debug: true
pids_to_use:
 - 'islandora:only_this'
 - 'islandora:and_this_one'
pids_to_skip:
 - 'islandora:skip_this'
 - 'islandora:and_this_one_too'
standard_fields:
 - 'RELS_EXT_hasModel_uri_ms'
 - 'RELS_EXT_isMemberOfCollection_uri_ms'
paginate: true
metadata_fields:
  abstract:
    dsid: MODS
    xpath: './{http://www.loc.gov/mods/v3}abstract'
  related_title:
    dsid: MODS
    xpath: './{http://www.loc.gov/mods/v3}relatedItem[@type="host"]/{http://www.loc.gov/mods/v3}titleInfo/{http://www.loc.gov/mods/v3}title'
